<div class="sellBuyBtn">
	<div class="inner">
		<div class="btn trade sell">
			<div class="btnLabel" ng-click="numDown();">SELL</div>
			<div class="price">
				<span class="major">{{sell.major}}.</span><span class="mino">{{sell.minor}}</span>
			</div>
		</div>
		<div class="btn trade buy">
			<div class="btnLabel">BUY</div>
			<div class="price">
				<span class="major">{{buy.major}}.</span><span class="mino">{{buy.minor}}</span>
			</div>
		</div>
		<my-clear></my-clear>
	</div>
	<!-- <my-clear></my-clear> -->
</div>